body {
    color: #F0FFFF;
    font-family: Georgia;
    text-align: center;
    background-color: #cccccc;
    background-image: url("https://pbs.twimg.com/media/DBHyHIlVwAAYfQH.jpg");
    background-size: 150%;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
    color: ##f4d142;
    text-align: center;
    font-family: Georgia;
    font-size: 200%;
}

footer {
    color: #FFD700;
    font-style: italic;
    font-size: 100%;
}
